# homey files
userdata
userconf.json
.homeyignore
_CleanUp_
app.json__NEW
app.json__ORIG

#node modules
node_modules/*

# client id & secret
env.json

# Development tools
.project
.settings



# Added by Homey CLI
/.homeybuild/
.dependencygraph/data.json
.dependencygraph/setting.json
.vscode/settings.json
lib/Communicate.js_bak
drivers/RM4_pro/device.js_bak
.vscode/launch.json
AGENTS.md

# MacOS
.DS_Store